<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/Index.css">
    <!-- Implementación de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet"><!-- Final de Implementación de Google Fonts -->
    <title>Bienvenidos_Christopher_11</title>
</head>
<body>
    
    <div class="Mesaje_Bienvenida">
        <h1>Bienvenidos</h1>
    </div>
</body>
</html>