*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #000;;
    height: 200vh;
    font-family: 'Cinzel Decorative', cursive;
}

.texto{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;
    border-bottom: 0;
}

.texto.oculto{
    border-bottom: 1px solid #fff;
}

.texto li{
    display: inline-block;
    float: left;
    font-weight: 700;
    font-size: 2em;
    color: #fff;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    max-width: 2em;
}

.texto.oculto li.espacio{
    padding-left: 0;
}

.texto li.spaced{
    padding-left: 0.5em;
}

.texto.oculto li.mostrar{
    opacity: 0;
    max-width: 0;
}



